/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <380>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <380>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };

        HL: HL {
            compatible = "zmk,behavior-hold-tap";
            label = "HL";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <380>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 17 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&tog 1           &mt PLUS Q        &mt MINUS W      &mt ASTERISK F        &mt SLASH P        &mt EQUAL B    &HMR LEFT_PARENTHESIS J  &HMR RIGHT_PARENTHESIS L  &HMR MINUS U          &HMR UNDER Y      &kp SEMICOLON  &tog 2
&kp BACKSPACE    &HML LCTRL A      &HML LEFT_ALT R  &HML LWIN S           &HML LEFT_SHIFT T  &HL 1 G        &HL 1 M                  &HMR RIGHT_SHIFT N        &HMR LEFT_WIN E       &HMR RIGHT_ALT I  &HMR RCTRL O   &kp SQT
&HML LCTRL CAPS  &mt LEFT_SHIFT Z  &kp X            &kp C                 &kp D              &HL 2 V        &kp K                    &kp H                     &HMR PIPE COMMA       &kp DOT           &kp FSLH       &kp ESCAPE
                                                    &HML LEFT_SHIFT HOME  &kp DEL            &kp SPACE      &kp SPACE                &kp ENTER                 &HMR RIGHT_SHIFT END
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&tog 1           &none         &none     &kp UP_ARROW  &kp PAGE_UP    &kp C_VOLUME_UP    &mt UNDERSCORE MINUS  &mt AMPERSAND KP_N7          &mt ASTERISK KP_N8  &kp KP_N9        &kp ASTERISK  &tog 2
&kp TAB          &kp LEFT_WIN  &kp LEFT  &kp DOWN      &kp RIGHT      &kp C_VOL_DN       &mt PLUS EQUAL        &mt DOLLAR KP_N4             &mt PERCENT KP_N5   &mt CARET KP_N6  &kp SLASH     &none
&HML LCTRL CAPS  &kp LSHIFT    &none     &none         &kp PAGE_DOWN  &kp K_MUTE         &kp KP_N0             &mt EXCLAMATION KP_NUMBER_1  &mt AT_SIGN KP_N2   &mt HASH KP_N3   &kp PERIOD    &none
                                         &kp HOME      &kp DEL        &kp BACKSPACE      &kp SPACE             &kp RETURN                   &kp END
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&tog 1     &none         &none         &none         &none         &none             &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS             &kp UNDERSCORE  &none     &tog 2
&kp TAB    &none         &none         &none         &none         &bt BT_CLR_ALL    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp NON_US_BACKSLASH  &kp EQUAL       &kp PLUS  &kp GRAVE
&kp LSHFT  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE              &none           &none     &kp TILDE
                                       &kp HOME      &kp DELETE    &kp BACKSPACE     &kp SPACE             &kp RETURN             &kp END
            >;
        };
    };
};
